.intro {
  background-color: #ffffff;
}

.intro__paragraph-left {
  max-width: 450px;
  width: 100%;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.3;
  color: #1a1a1a;
  display: block;
}

.intro__paragraph-right {
  max-width: 351px;
  width: 100%;
  font-size: 1rem;
  line-height: 1.6;
  color: #666666;
  display: block;
  margin-left: auto;
}
