.mission {
  background-image: url("../images/mission-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mission__container {
  z-index: 2;
}

.mission__overlay {
  background-color: rgba(237, 75, 30, 0.75);
  pointer-events: none;
}

.card {
  width: 300px;
}

.card__image {
  height: 48px;
}

.card__paragraph {
  cursor: pointer;
  color: #f45110;
}

.mission__image-wrapper {
  height: 420px;
}

@media (max-width: 990px) {
  .card-list {
    align-items: center;
  }

  .card-list .card {
    margin-inline: auto;
  }
}

@media (max-width: 600px) {
  .mission__title,
  .mission__paragraph,
  .mission__paragraphs {
    text-align: center;
  }
}

@media (max-width: 350px) {
  .card {
    width: 250px;
  }
}
