.stories {
  background-color: #2b1f1a;
  color: #fff;
  border-radius: 16px;
}

.stories__info {
  flex: 1;
  min-width: 280px;
}

.stories__paragraph {
  color: #d1c7c2;
  max-width: 263px;
}

.stories__text-wrap {
  max-width: 320px;
}

.stories__btn {
  background-color: #f97316;
  border: none;
  color: #fff;
  cursor: pointer;
}

.stories__btn:hover {
  background-color: #755f54;
}

.stories__card-title {
  cursor: pointer;
  width: 170px;
}

.stories__card-title:hover {
  text-decoration: underline;
}
