.visit {
  background-color: #f7f7f7;
  font-family: "Arial", sans-serif;
}

.visit__title {
  width: 500px;
}

.visit__btn {
  cursor: pointer;
  transition: background-color 0.3s ease;
  background: rgba(46, 35, 32, 1);
  border: none;
  color: #ffffff;
}

.visit__btn:hover {
  background-color: #c0392b;
  color: white;
}
