@import url("../vendor/normalize.css");

@import url("../blocks/nav.css");
@import url("../blocks/hero.css");
@import url("../blocks/intro.css");
@import url("../blocks/mission.css");
@import url("../blocks/visit.css");
@import url("../blocks/volunteer.css");

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f8f9fa;
}
